* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at 50% 50%, #192233 20%, #000);
  font-family: 'Segoe UI', sans-serif;
}

.container {
  position: relative;
  width: clamp(180px, 25vw, 200px);
  height: clamp(180px, 25vw, 200px);
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 15px;
  backdrop-filter: blur(6px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Botão central e ícones */
.navegacao {
  position: relative;
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.navegacao span {
  position: absolute;
  width: 8px;
  height: 8px;
  background: #fff;
  transform: translate(calc(14px * var(--x)), calc(14px * var(--y)));
  transition: all 0.5s ease;
  transition-delay: calc(0.1s * var(--i));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navegacao span ion-icon {
  font-size: 0;
  color: #fff;
  transition: 0.4s ease;
}

.navegacao.ativo span {
  width: 45px;
  height: 45px;
  background: rgba(9, 14, 22, 0.83);
  border: 1px solid #ffffff7d;
  border-radius: 8px;
  transform: translate(calc(60px * var(--x)), calc(60px * var(--y)));
}

.navegacao.ativo span ion-icon {
  font-size: 1.4em;
}

.navegacao.ativo span:hover ion-icon {
  color: #2dfc52;
  filter: drop-shadow(0 0 2px #2dfc52) drop-shadow(0 0 8px #2dfc52);
}

/* Botão de fechar */
.fechar {
  position: absolute;
  width: 8px;
  height: 8px;
  background: #fff;
  border: none;
  pointer-events: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  z-index: 1;
}

.fechar ion-icon {
  font-size: 2em;
  transform: scale(0);
  color: #10131c;
  transition: transform 0.4s ease;
}

.navegacao.ativo ~ .fechar {
  width: 45px;
  height: 45px;
  background: #2dfc52;
  pointer-events: auto;
  transition-delay: 0.6s;
  border-radius: 8px;
}

.navegacao.ativo ~ .fechar ion-icon {
  transform: scale(1);
  transition-delay: 0.8s;
}

/* Responsivo */
@media (max-width: 500px) {
  .container {
    width: 150px;
    height: 150px;
  }
}
